  .heading
  {
    font-size:23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    float:none;
    background: white ; 
    padding:10px;
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  span{
  white-space:pre-line;
  color:red;
font-size:16px;
 }
 .copy_right_footer{
  position:fixed;
  color:white;
  bottom:0;
  width:100%;
  background-color:gray;
  line-height:3;
  text-align:center;
 }
 .result, .bob3{
  border-radius:20px;
  border:5px solid gray;
  box-shadow:5px 5px 5px grey;
  margin-top:20px;
  padding:20px;
  background-color:pink;
  letter-spacing:2px;
height:279;
 }
 ol h5{
  background:white;
  padding:30px;
  border-radius:20px;

 }
 li img{
  border-radius:20px;

 }
 b{
  color:purple;
 }
body{
  text-align: center;
  background-color:yellow;
  font-size:25px;
}
